#block-startproject-primary-local-tasks>ul{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: var(--margin-medium);
  margin-bottom: var(--margin-small);
  margin-left: 5%;
}
#block-startproject-primary-local-tasks>ul li{
  list-style: none;
  background-color: var(--color-secondary-400);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: var(--padding-small);
}
#block-startproject-primary-local-tasks>ul li a{
  padding: var(--padding-medium) var(--padding-small);
  color: var(--color-primary-700);
  text-decoration: none;
}