/* Add your existing styles here */

/* Hide the navigation by default */
nav ul {
  display: none;
}

/* Show the navigation for larger screens */
@media only screen and (min-width: 700px) {
  nav ul {
    display: flex;
    align-items: space-between;
    list-style-type: none;
    gap: var(--margin-medium);
  }
}

/* Hide the hamburger icon for larger screens */
@media only screen and (min-width: 700px) {
  #hamburger-icon {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 5%;
  }
  .menu ul {
    order: 1;
    text-align: right;
    list-style-type: none;
    margin-top: 1px;
  }
  .menu li {
    padding: 1rem 1rem 1rem 2rem;
    background-color: var(--color-secondary-400);
    transition: .5s;
  }
  .menu li:hover {
    background-color: var(--color-primary-700);
  }
  .menu li:hover a{
    color: var(--color-secondary-400);
  }
  .menu li a{
    color: var(--color-primary-500);
    transition: .5s;
  }
  .menu div {
    order: 0;
    width: 30px;
    cursor: pointer;
    margin: 0 0 0 auto;
    padding: .5rem 2.3rem .5rem .5rem;
    text-align: center;
    background-color: var(--color-secondary-400);
    color: var(--color-primary-500);
    transition: .5s;
  }
  .menu div:hover {
    background-color: var(--color-primary-700);
    color: var(--color-secondary-400);
    transform: scale(1.05);
  }
}
