.block-startproject-content{
  margin-top: var(--margin-medium);
}
.layout__region span{
  display: block;
  font-size: var(--font-size-large);
  margin-bottom: var(--margin-small);
  color: var(--color-primary-700);
}
.views-element-container{
  margin-top: var(--margin-largest);
}
.views-element-container h2{
  font-size: var(--font-size-large);
  margin-bottom: var(--margin-small);
  color: var(--color-primary-700);
}
.layout--twocol-section--50-50{
  flex-wrap: nowrap;
  gap: var(--margin-medium);
}
.layout__region--second > div > div > div {
  display: inline;
}
.layout__region--second > div > div>div:first-child{
  font-weight: var(--font-weight-bold);
}
.layout__region--second > div > div>div:first-child::after{
  content: ":";
  width: 100%;
}
.layout__region--second > div > div{
  margin-top: var(--margin-small);
}